Repository in-in/covid: changes, and which lefthook commands are due for each by the changed paths.
All: pug-linter, stylelint

pug-linter:
  run: pug-lint -c .config/.pug-lintrc.json {staged_files}

stylelint:
  run: stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

refactor(symptoms): add background icons
  src/assets/icons/cloud0.svg
  src/assets/icons/cloud1.svg
  src/assets/icons/symptoms.svg
  src/components/main/index.pug
  src/components/section/data.scss
  src/components/section/style_symptoms.scss
  src/components/symptoms/style.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
Due: pug-linter, stylelint

refactor(feature): add hover effect
  src/components/features/style.scss
Due: stylelint

chore(cleanup): clean up and delete unnecessary parts
  src/components/footer/index.pug
  src/components/footer/style.scss
  src/components/link/style.scss
  src/components/partners/index.pug
  src/components/partners/style.scss
  src/components/projects/index.pug
  src/components/projects/style.scss
  src/components/review/index.pug
  src/components/review/style.scss
  src/components/social/style.scss
  src/pages/index.pug
  src/styles/styles.development.json
  src/styles/styles.scss
Due: pug-linter, stylelint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

feat(prevention): add prevention section
  src/components/main/index.pug
  src/components/prevention/index.pug
  src/components/prevention/style.scss
  src/components/section/data.scss
  src/components/section/style.scss
  src/components/section/style_prevention.scss
  src/data/data.json
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/styles/styles.scss
Due: pug-linter, stylelint

feat(prevention): add prevention list
  src/assets/icons/prevention1.svg
  src/assets/icons/prevention2.svg
  src/assets/icons/prevention3.svg
  src/assets/icons/prevention4.svg
  src/components/prevention/index.pug
  src/components/prevention/style.scss
  src/components/section/style_prevention.scss
  src/data/data.json
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
Due: pug-linter, stylelint

fix(features): add missing include
  src/components/features/index.pug
Due: pug-linter

refactor(functions): add ability to use breakpoints context
  src/styles/functions.scss
Due: stylelint

refactor(container): update max-width variable
  src/styles/mixins.scss
  src/tokens/properties/grid/index.json
Due: stylelint

refactor(env): cut env variable names
  .config/postcss.config.js
  .config/webpack.config.js
  package.json
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: none

fix(entities): allow html entities
  src/components/subheading/index.pug
Due: pug-linter

refactor(clean-up): delete dead code
  src/components/about/index.pug
  src/components/about/style.scss
  src/components/footer/index.pug
  src/components/headingList/index.pug
  src/components/headingList/style.scss
  src/components/section/index.pug
  src/components/slogan/index.pug
  src/components/slogan/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
  src/styles/styles.scss
Due: pug-linter, stylelint

fix(features): return missing modifier
  src/components/features/index.pug
Due: pug-linter

refactor(mixins): allow mixin to handle tokens
  src/styles/functions.scss
  src/styles/mixins.scss
Due: stylelint

refactor(tokens): replace base colors with abstract names
  src/components/button/style.scss
  src/components/features/style.scss
  src/components/heading/style.scss
  src/components/link/style.scss
  src/components/logo/style.scss
  src/components/menu/style.scss
  src/components/prevention/style.scss
  src/components/section/data.scss
  src/components/social/style.scss
  src/components/subheading/style.scss
  src/components/symptoms/style.scss
  src/styles/mixins.scss
  src/styles/theme.scss
  src/tokens/build/color.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/color/base.json
Due: stylelint

build(webpack): update config
  .config/webpack.config.js
Due: none

refactor(headingdouble): сhange mixin signature
  src/components/contagion/index.pug
  src/components/headingDouble/index.pug
  src/components/hero/index.pug
  src/components/overview/index.pug
  src/components/prevention/index.pug
  src/components/symptoms/index.pug
Due: pug-linter

feat(mixin): add visually-hidden mixin
  src/styles/mixins.scss
Due: stylelint

feat(section): add reports section
  src/components/main/index.pug
  src/components/section/style.scss
  src/components/section/style_reports.scss
  src/data/data.json
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

fix(scroll): delete horizontal scroll
  src/components/layout/style.scss
  src/components/main/style.scss
Due: stylelint

feat(reports): add reports and headingList components
  src/assets/icons/country_china.svg
  src/assets/icons/country_germany.svg
  src/assets/icons/country_iran.svg
  src/assets/icons/country_italy.svg
  src/assets/icons/country_spain.svg
  src/assets/icons/country_usa.svg
  src/assets/icons/map.svg
  src/assets/icons/triangle.svg
  src/components/headingList/index.pug
  src/components/headingList/style.scss
  src/components/main/index.pug
  src/components/reports/index.pug
  src/components/reports/style.scss
  src/data/data.json
  src/styles/styles.dev.json
  src/styles/styles.prod.json
  src/styles/styles.scss
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
Due: pug-linter, stylelint

build(webpack): update svgoConfig
  .config/webpack.config.js
Due: none

feat(reports): add alpinejs and interactive action for map
  package-lock.json
  package.json
  src/assets/icons/map.svg
  src/components/headingList/index.pug
  src/components/headingList/style.scss
  src/components/reports/index.pug
  src/components/reports/style.scss
  src/index.js
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

refactor(reports): add columns to list
  src/components/headingList/style.scss
  src/components/reports/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: stylelint

fix(headinglist): add correct tags to improve a11y
  src/components/headingList/index.pug
  src/components/headingList/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

refactor(headinglist): keep implementation consistency for active markers
  src/components/headingList/style.scss
Due: stylelint

fix(global styles): switch to global styles for svg
  .stylelintrc.js
  src/components/reports/style.scss
  src/components/symptoms/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: stylelint

refactor(stylelint): delete deprecated rules
  .stylelintrc.js
Due: none

refactor(section): move common styles to one place
  src/components/section/style.scss
  src/components/section/style_contagion.scss
  src/components/section/style_hero.scss
  src/components/section/style_overview.scss
  src/components/section/style_prevention.scss
  src/components/section/style_reports.scss
  src/components/section/style_symptoms.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: stylelint

feat(heading): add option for nested components
  src/components/heading/index.pug
Due: pug-linter

feat(help): add help section
  src/components/help/index.pug
  src/components/help/style.scss
  src/components/main/index.pug
  src/components/section/style.scss
  src/components/section/style_help.scss
  src/data/data.json
  src/styles/styles.dev.json
  src/styles/styles.prod.json
  src/styles/styles.scss
Due: pug-linter, stylelint

refactor(button): сhange mixin signature
  src/components/button/index.pug
  src/components/header/index.pug
  src/components/hero/index.pug
  src/components/overview/index.pug
Due: pug-linter

fix(button): add nesting & correct border-radius value
  src/components/button/index.pug
  src/components/button/style.scss
Due: pug-linter, stylelint

refactor(mixin): add focus mixin
  src/styles/mixins.scss
  src/styles/theme.scss
Due: stylelint

feat(form): add form component
  src/assets/icons/send.svg
  src/components/form/index.pug
  src/components/form/style.scss
  src/components/help/index.pug
  src/components/help/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
  src/styles/styles.scss
  src/tokens/build/asset.scss
  src/tokens/build/shadow.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
  src/tokens/properties/shadow/index.json
Due: pug-linter, stylelint

feat(form): add float label
  src/components/form/index.pug
  src/components/form/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

chore(pug-lint): update config
  .config/.pug-lintrc.json
Due: none

Path conditions:
  pug-linter: any of: *.pug
  stylelint: any of: *.scss
