Repository in-in/covid: changes, and which lefthook commands are due for each by the changed paths.
All: pug-linter, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    pug-linter:
      glob: "*.pug"
      run: pug-lint -c .config/.pug-lintrc.json {staged_files}
    stylelint:
      glob: "*.scss"
      run: stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

refactor(fonts): add fonts
  src/assets/fonts/inconsolata-latin-700.woff2
  src/assets/fonts/inconsolata-latin-regular.woff2
  src/assets/fonts/poppins-latin-600.woff2
  src/assets/fonts/poppins-latin-regular.woff2
  src/assets/fonts/raleway-latin-700.woff2
  src/assets/fonts/raleway-latin-regular.woff2
  src/assets/fonts/red-hat-display-latin-700.woff2
  src/styles/fonts.scss
  src/styles/styles.production.json
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/fonts.json
Due: stylelint

refactor(fonts): move fonts to inline styles
  src/styles/fonts.scss
  src/styles/inline.scss
  src/styles/theme.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/build/typography.scss
  src/tokens/properties/typography/index.json
Due: stylelint

refactor(fonts): add font-weight tokens
  src/styles/fonts.scss
  src/styles/mixins.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/build/typography.scss
  src/tokens/properties/typography/index.json
Due: stylelint

feat(colors): add base colors
  src/styles/functions.scss
  src/styles/mixins.scss
  src/styles/styles.development.json
  src/styles/theme.scss
  src/tokens/build/color.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/color/base.json
  src/tokens/properties/color/font.json
Due: stylelint

refactor(fonts): add base fonts
  src/styles/functions.scss
  src/styles/theme.scss
  src/tokens/build/breakpoint.scss
  src/tokens/build/size.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/breakpoint/index.json
  src/tokens/properties/size/font.json
Due: stylelint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

chore(theme): add global focus and selection state
  src/styles/theme.scss
Due: stylelint

feat(menu): add menu component
  src/components/header/index.pug
  src/components/header/style.scss
  src/components/menu/index.pug
  src/components/menu/style.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
Due: pug-linter, stylelint

refactor(tokens): update tokens
  src/tokens/build/size.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/size/font.json
Due: stylelint

refactor(container): add padding to container
  src/styles/mixins.scss
Due: stylelint

feat(logo): add logo
  src/assets/icons/logo.svg
  src/components/footer/index.pug
  src/components/footer/style.scss
  src/components/header/style.scss
  src/components/logo/index.pug
  src/components/logo/style.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/tokens/build/size.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/size/font.json
  src/tokens/properties/size/index.json
Due: pug-linter, stylelint

refactor(favicon): update favicons and title
  .config/webpack.config.js
  package-lock.json
  package.json
  readme.md
  src/assets/favicon.svg
Due: none

feat(button): add button component
  src/components/button/index.pug
  src/components/button/style.scss
  src/components/header/index.pug
  src/components/main/index.pug
  src/components/main/style.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
Due: pug-linter, stylelint

refactor(head): update main title
  src/components/head/index.pug
Due: pug-linter

refactor(button): add hover state
  src/components/button/style.scss
  src/tokens/build/easing.scss
  src/tokens/build/time.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/easing/index.json
  src/tokens/properties/time/index.json
Due: stylelint

fix(a11y): improve color contrast
  src/components/button/style.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/styles/theme.scss
  src/tokens/build/color.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/color/base.json
Due: stylelint

fix(menu): properly align items
  src/components/menu/style.scss
Due: stylelint

feat(subheading): add subheading component
  src/components/subheading/index.pug
  src/components/subheading/style.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/styles/styles.scss
Due: pug-linter, stylelint

refactor(heading): update component
  src/components/heading/index.pug
  src/components/heading/style.scss
Due: pug-linter, stylelint

refactor(text): add modifier
  src/components/text/index.pug
  src/components/text/style.scss
Due: pug-linter, stylelint

fix(functions): add correct context
  src/styles/functions.scss
Due: stylelint

feat(hero): add hero component
  src/components/hero/index.pug
  src/components/hero/style.scss
  src/components/main/index.pug
  src/components/section/style.scss
  src/components/section/style_hero.scss
  src/data/data.json
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/tokens/build/grid.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/grid/index.json
Due: pug-linter, stylelint

refactor(heading): add line-height value
  src/components/heading/style.scss
Due: stylelint

feat(hero): add virus icons
  src/assets/icons/linkedin.svg
  src/assets/icons/mastercard.svg
  src/assets/icons/microsoft.svg
  src/assets/icons/mozilla.svg
  src/assets/icons/salesforce.svg
  src/assets/icons/virus.svg
  src/assets/icons/zoho.svg
  src/assets/images/review_1@1x.png
  src/assets/images/review_1@1x.webp
  src/assets/images/review_1@2x.png
  src/assets/images/review_1@2x.webp
  src/assets/images/review_2@1x.png
  src/assets/images/review_2@1x.webp
  src/assets/images/review_2@2x.png
  src/assets/images/review_2@2x.webp
  src/assets/images/review_3@1x.png
  src/assets/images/review_3@1x.webp
  src/assets/images/review_3@2x.png
  src/assets/images/review_3@2x.webp
  src/assets/images/review_4@1x.png
  src/assets/images/review_4@1x.webp
  src/assets/images/review_4@2x.png
  src/assets/images/review_4@2x.webp
  src/components/main/index.pug
  src/components/section/style_hero.scss
  src/styles/mixins.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
Due: pug-linter, stylelint

refactor(hero): add background image
  src/assets/images/footer.svg
  src/assets/images/hero.svg
  src/assets/images/project1.svg
  src/assets/images/project2.svg
  src/assets/images/project3.svg
  src/components/hero/style.scss
  src/components/section/style_hero.scss
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/images.json
Due: stylelint

refactor(hero): move data to separate file
  src/components/section/data.scss
  src/components/section/style_hero.scss
Due: stylelint

feat(overview): add overview component
  src/assets/images/overview.svg
  src/components/layout/style.scss
  src/components/main/index.pug
  src/components/overview/index.pug
  src/components/overview/style.scss
  src/components/section/data.scss
  src/components/section/style.scss
  src/components/section/style_about.scss
  src/components/section/style_overview.scss
  src/data/data.json
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/styles/styles.scss
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/images.json
Due: pug-linter, stylelint

fix(section): rename global var
  src/components/section/style.scss
  src/components/section/style_hero.scss
  src/components/section/style_overview.scss
Due: stylelint

fix(picture): add attributes for mixin
  src/components/picture/index.pug
Due: pug-linter

refactor(breakpoints): add abstraction for breakpoint values
  src/components/section/style_hero.scss
  src/components/section/style_overview.scss
  src/styles/functions.scss
  src/styles/mixins.scss
  src/tokens/build/breakpoint.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/breakpoint/index.json
Due: stylelint

refactor(mixins): delete format hint
  src/styles/mixins.scss
Due: stylelint

fix(picture): allow component to handle tokens
  src/components/picture/index.pug
Due: pug-linter

refactor(section): update hero styles
  src/components/section/style_hero.scss
Due: stylelint

feat(contagion): add contagion section
  src/assets/icons/contagion1.svg
  src/assets/icons/contagion2.svg
  src/assets/icons/contagion3.svg
  src/components/contagion/index.pug
  src/components/contagion/style.scss
  src/components/features/index.pug
  src/components/features/style.scss
  src/components/main/index.pug
  src/components/section/data.scss
  src/components/section/style.scss
  src/components/section/style_contagion.scss
  src/components/section/style_features.scss
  src/components/section/style_projects.scss
  src/data/data.json
  src/styles/functions.scss
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/styles/styles.scss
  src/tokens/build/asset.scss
  src/tokens/build/color.scss
  src/tokens/build/shadow.scss
  src/tokens/build/size.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
  src/tokens/properties/color/base.json
  src/tokens/properties/shadow/index.json
  src/tokens/properties/size/border.json
Due: pug-linter, stylelint

refactor(overview): remove redundant selector and update formatting
  src/components/overview/style.scss
  src/components/section/style_overview.scss
Due: stylelint

fix(entities): allow html entities
  src/components/heading/index.pug
  src/components/text/index.pug
Due: pug-linter

feat(headingdouble): add headingDouble and update all related components
  src/components/contagion/index.pug
  src/components/contagion/style.scss
  src/components/headingDouble/index.pug
  src/components/headingDouble/style.scss
  src/components/hero/index.pug
  src/components/hero/style.scss
  src/components/overview/index.pug
  src/components/overview/style.scss
  src/components/subheading/index.pug
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/styles/styles.scss
Due: pug-linter, stylelint

feat(symptoms): add symptoms section
  src/assets/icons/symptoms.svg
  src/components/main/index.pug
  src/components/section/style.scss
  src/components/section/style_symptoms.scss
  src/components/symptoms/data.scss
  src/components/symptoms/index.pug
  src/components/symptoms/style.scss
  src/data/data.json
  src/styles/styles.development.json
  src/styles/styles.production.json
  src/styles/styles.scss
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
Due: pug-linter, stylelint
