Repository in-in/covid: changes, and which lefthook commands are due for each by the changed paths.
All: pug-linter, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    pug-linter:
      glob: "*.pug"
      run: npx pug-lint -c .config/.pug-lintrc.json {staged_files}
    stylelint:
      glob: "*.scss"
      run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

chore(packages): update packages
  package-lock.json
  package.json
Due: none

fix(htmlwebpackplugin): delete import of empty files in production build
  .config/webpack.config.js
  src/components/head/index.pug
  src/components/layout/index.pug
Due: pug-linter

chore(stylelint): update config
  .stylelintrc.js
Due: none

build(packages): update packages
  package-lock.json
  package.json
Due: none

fix(mixins): unwrap quoted string
  src/styles/mixins.scss
Due: stylelint

build(images): enable image optimization
  .config/webpack.prod.js
  src/components/picture/index.pug
Due: pug-linter

refactor(mixins): add focus-visible
  src/styles/mixins.scss
Due: stylelint

chore(stylelint): update stylelint config
  .stylelintrc.js
Due: none

refactor(styles): replace custom function with built-in one
  src/components/section/style_hero.scss
  src/components/section/style_overview.scss
  src/styles/fonts.scss
  src/styles/functions.scss
  src/styles/mixins.scss
Due: stylelint

fix(webpack): delete useless symbol from filename pattern
  .config/webpack.config.js
Due: none

refactor(favicon): delete useless favicons
  .config/webpack.config.js
Due: none

fix(mixin): update hover mixin
  src/styles/mixins.scss
Due: stylelint

refactor(aside): delete unused component
  src/components/aside/index.pug
Due: pug-linter

refactor(link): update link component
  src/components/copy/index.pug
  src/components/link/index.pug
  src/components/link/style.scss
  src/components/social/index.pug
Due: pug-linter, stylelint

refactor(mixins): delete unused mixin
  src/styles/mixins.scss
Due: stylelint

fix(css-modules): add workaround for css-modules in prod mode
  .config/postcss.config.js
  .config/webpack.config.js
  .config/webpack.prod.js
  package.json
  src/components/layout/index.pug
Due: pug-linter

refactor(button): add active state
  src/components/button/style.scss
  src/styles/mixins.scss
Due: stylelint

feat(print): add print styles
  src/components/backToTop/style.scss
  src/components/button/style.scss
  src/components/features/style.scss
  src/components/footer/style.scss
  src/components/header/style.scss
  src/components/prevention/style.scss
  src/components/reports/style.scss
  src/components/section/style.scss
  src/components/section/style_help.scss
  src/components/section/style_hero.scss
  src/components/section/style_overview.scss
  src/styles/mixins.scss
Due: stylelint

style(comments): update comment formatting
  src/components/prevention/style.scss
  src/styles/mixins.scss
  src/styles/reset.scss
Due: stylelint

fix(features): enable text-overflow
  src/components/features/style.scss
Due: stylelint

chore(meta): add description
  src/components/meta/index.pug
Due: pug-linter

docs(readme): add readme
  readme.md
Due: none

Create LICENSE
  LICENSE
Due: none

fix(peerdependency): add missing peerDependency favicons
  package-lock.json
  package.json
Due: none

docs(readme): update link url
  readme.md
Due: none

fix(headers): update csp headers
  vercel.json
Due: none

fix(text): typo
  src/data/data.json
Due: none

refactor(reset): update base styles
  src/styles/reset.scss
Due: stylelint

refactor(social): add og meta tags
  src/assets/images/social_preview.png
  src/components/meta/index.pug
  src/tokens/build/asset.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/images.json
Due: pug-linter, stylelint

refactor(backtotop): add non-js scroll
  src/components/backToTop/index.pug
  src/components/backToTop/style.scss
Due: pug-linter, stylelint

fix(validator): add missing attributes & delete duplicate ids
  src/assets/icons/cloud0.svg
  src/assets/icons/cloud1.svg
  src/assets/icons/contagion1.svg
  src/assets/icons/contagion2.svg
  src/assets/icons/contagion3.svg
  src/assets/icons/country_china.svg
  src/assets/icons/country_germany.svg
  src/assets/icons/country_iran.svg
  src/assets/icons/country_italy.svg
  src/assets/icons/country_spain.svg
  src/assets/icons/country_usa.svg
  src/assets/icons/prevention1.svg
  src/assets/icons/prevention2.svg
  src/assets/icons/prevention3.svg
  src/assets/icons/prevention4.svg
  src/assets/icons/symptoms.svg
Due: none

fix(validator): get rid of not allowed element and attribute
  src/components/backToTop/index.pug
  src/components/help/index.pug
  src/components/help/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

fix(smoothscroll): add native scrollIntoView
  src/components/header/index.pug
  src/components/menu/index.pug
  src/index.js
Due: pug-linter

refactor(mixins): add focus state for hover mixin
  src/styles/mixins.scss
Due: stylelint

fix(link): remove underline from span
  src/components/link/style.scss
Due: stylelint

fix(robots.txt): turn on robots.txt 🤷
  .config/webpack.prod.js
  package-lock.json
  package.json
  src/robots.txt
Due: none

refactor(theme): get rid of default font-family for html
  src/styles/theme.scss
Due: stylelint
