Repository in-in/covid: changes, and which lefthook commands are due for each by the changed paths.
All: pug-linter, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    pug-linter:
      glob: "*.pug"
      run: npx pug-lint -c .config/.pug-lintrc.json {staged_files}
    stylelint:
      glob: "*.scss"
      run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

fix(fonts): add correct font-weight
  src/components/help/style.scss
  src/components/link/style.scss
Due: stylelint

refactor(icons): get rid of unused declarations
  src/assets/icons/country_china.svg
  src/assets/icons/country_germany.svg
  src/assets/icons/country_iran.svg
  src/assets/icons/country_italy.svg
  src/assets/icons/country_spain.svg
  src/assets/icons/country_usa.svg
Due: none

chore(headers): update headers
  vercel.json
Due: none

fix(headinglist): set button type attribute
  src/components/headingList/index.pug
Due: pug-linter

fix(backtotop): improve contrast
  src/components/backToTop/style.scss
Due: stylelint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

docs(readme): update appearance
  readme.md
Due: none
