Repository in-in/covid: changes, and which lefthook commands are due for each by the changed paths.
All: pug-linter, stylelint

pug-linter:
  run: pug-lint -c .config/.pug-lintrc.json {staged_files}

stylelint:
  run: stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

feat(form): add form backend
  src/components/form/index.pug
Due: pug-linter

build(postcss): update packages & fix postcss config
  .config/postcss.config.js
  .config/webpack.dev.js
  .config/webpack.prod.js
  package-lock.json
  package.json
Due: none

feat(help): add virus icons to background
  src/components/help/style.scss
  src/components/main/index.pug
  src/components/section/data.scss
  src/components/section/style_help.scss
  src/styles/mixins.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

fix(scrollbar): remove (again) horizontal scrollbar
  src/components/layout/style.scss
  src/components/main/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
  src/styles/styles.scss
  src/styles/theme.scss
Due: stylelint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

feat(copy): add copy component
  src/components/copy/index.pug
  src/components/copy/style.scss
Due: pug-linter, stylelint

feat(social): add social component
  src/assets/icons/social_facebook.svg
  src/assets/icons/social_instagram.svg
  src/assets/icons/social_linkedin.svg
  src/assets/icons/social_twitter.svg
  src/assets/icons/social_vimeo.svg
  src/assets/icons/social_youtube.svg
  src/components/social/style.scss
  src/data/data.json
  src/styles/styles.dev.json
  src/styles/styles.prod.json
  src/tokens/build/asset.scss
  src/tokens/build/color.scss
  src/tokens/build/size.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/assets/icons.json
  src/tokens/properties/color/brand.json
  src/tokens/properties/size/index.json
Due: stylelint

feat(footer): add footer component
  src/components/footer/index.pug
  src/components/footer/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

chore(lefthook): update config
  lefthook.yml
Due: none

refactor(social): add brand colors for hover effect
  src/components/social/style.scss
Due: stylelint

feat(style-dictionary): add new token category
  .config/sd-build.js
  src/styles/tokens.scss
  src/tokens/build/brand.scss
  src/tokens/build/color.scss
  src/tokens/build/tokens.js
  src/tokens/build/tokens.json
  src/tokens/properties/color/brand.json
Due: stylelint

fix(prevention): remove transparency from counters
  src/components/prevention/style.scss
Due: stylelint

refactor(data): replace meaningless text with useful one
  src/data/data.json
Due: none

feat(features): add fancy effect to cards
  src/components/features/style.scss
Due: stylelint

style(form): кeep consistency for mixin call
  src/components/form/style.scss
Due: stylelint

refactor(layout): add main gradient
  src/components/layout/style.scss
Due: stylelint

style(stylelint): update config and formatting
  .stylelintrc.js
  src/components/section/style_hero.scss
  src/components/section/style_overview.scss
  src/styles/mixins.scss
Due: stylelint

refactor(menu): remove limiters
  src/components/menu/style.scss
Due: stylelint

refactor(pages): update pageTitle
  src/pages/index.pug
Due: pug-linter

feat(menu): add jump on sections
  src/components/main/index.pug
  src/components/menu/index.pug
  src/data/data.json
Due: pug-linter

feat(menu): add smooth scroll
  src/components/menu/index.pug
  src/index.js
Due: pug-linter

feat(backtotop): add backToTop component
  src/components/backToTop/index.pug
  src/components/backToTop/style.scss
  src/components/main/index.pug
  src/index.js
  src/styles/styles.dev.json
  src/styles/styles.prod.json
  src/styles/styles.scss
Due: pug-linter, stylelint

refactor(backtotop): add icon
  src/components/backToTop/index.pug
  src/components/backToTop/style.scss
  src/styles/styles.dev.json
  src/styles/styles.prod.json
Due: pug-linter, stylelint

feat(help): add a click handler
  src/components/header/index.pug
  src/components/main/index.pug
Due: pug-linter

fix(reports): remove the transparent background
  src/components/reports/style.scss
Due: stylelint

fix(stylelint): add svg tag to ignoreTypes
  .stylelintrc.js
Due: none

chore(packages): update packages
  .npmrc
  package-lock.json
  package.json
Due: none

build(webpack5): add asset modules
  .config/webpack.config.js
  .config/webpack.prod.js
  package-lock.json
  package.json
Due: none

fix(favicon): ignore empty tags generated by favicons
  .config/webpack.config.js
  .config/webpack.prod.js
  package-lock.json
  package.json
Due: none

fix(webpack): exclude css files from linting
  .config/webpack.config.js
  .config/webpack.dev.js
  .config/webpack.prod.js
Due: none

fix(dev-server): get rid of endless reloading
  .config/webpack.config.js
  .config/webpack.dev.js
  src/components/layout/index.pug
Due: pug-linter

style(stylelint): update formatting
  src/styles/theme.scss
  src/tokens/build/color.scss
Due: stylelint

fix(symptoms): add units for property
  src/components/symptoms/style.scss
Due: stylelint

fix(favicon): add correct prefix
  .config/webpack.config.js
Due: none

fix(backtotop): return missing selectors
  src/components/backToTop/index.pug
  src/components/footer/index.pug
  src/components/header/index.pug
  src/index.js
Due: pug-linter

fix(symptoms): add workaround for not supported feature
  src/components/symptoms/style.scss
Due: stylelint

style(formatting): update formatting
  src/styles/inline.scss
Due: stylelint

Path conditions:
  pug-linter: any of: *.pug
  stylelint: any of: *.scss
